/* body {
  font-family: "Lato", sans-serif;
} */
 * {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
  background-color: #05396b;
  height: 100%;
  
}

/* side bar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #05396b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #e1bee7;
  display: block;
  transition: 0.3s;
  line-height: 65px;
  text-decoration: none;
}
.sidebar a:hover {
  padding-left: 18px;
  text-decoration: none;
  color: white;
}
.sidebar-element :hover{
background-color: #0f4475;
}
.sidebar a i {
  margin-right: 16px;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar .closebtn :hover {
  text-decoration: none;
}
.side-open{
  display:block;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: hsl(209, 91%, 22%);
  color: white;
  padding: 10px 15px;
  border: none;
  margin-top: 15px;
  margin-left: 15px;
}

.openbtn:hover {
  background-color: #8f94fb;
}

ul {
  list-style-type: none;
}
h1 {

  text-align: center;
  padding-top: 50px;
  font-size: 62px;
  font-family: "Pacifico";
  color: #00a86b;
}

/* Yield_prediction */
.form-group label {
  color: white;
}

/* Disease Detection */
.disease-container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.di-img {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
/* About Us */

#our-team{
  margin-top: 40px;
  height: 100%;
  overflow: auto;
  z-index: auto;
}
#our-team-sub-heading{
  font-weight: normal;
}
.carousel-item{
 display:block;
 width: 100%;
 text-align: center;
}
#members{
  display: inline-block;
  margin: 0 auto;
  padding: 10px;
}
/* #members img{
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
} */

/*
.carousel-control-prev-icon {
    background-image: url(https://image.flaticon.com/icons/svg/143/143289.svg);
   
}
.carousel-control-next-icon {
    background-image: url(https://image.flaticon.com/icons/svg/143/143290.svg);
}
 .carousel-indicators{
  position: relative !important;
  margin-top: 40px;
}
.carousel-indicators li{
  background-color: #ffff;
  opacity: 1;
}
.carousel-indicators .active{
  background-color: #54ECAA;
} */

.our-team-designations{
  font-size: 0.95rem;
  margin:0;
  padding-top: 10px;
}
.team-social-icons{

  size: 20px;

}
.team-social-icons i{
 color: white;
}

.team-social-middle-element{
  padding-left: 10px;
  padding-right: 10px;
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    float: none;
  }
  .openbtn{
    position: absolute;
  }

}
@media screen and (max-width: 700px){
  #members{
    display:table;
    position: relative;
  }
  h1{
    font-size: 50px;
  }
} 
