{% extends 'index.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase font-weight-bold">Farmix Smart</h1>
        <!-- <hr class="divider my-4" /> -->
      </div>
      <div class="col-lg-12 align-self-baseline">
        <p class="text-white font-weight-normal" style="font-size: 20px;">
          Agriculture is the principal source of livelihood for more than 40
          percent of the population of this state. According to Food and
          Agricultural Organization (FAO) researchers, between 2010 and 2050 the
          world population will increase by one third. The demand for crop
          production will increase by 60percent higher than the current
          production. <br />
          <br />
          Hence prediction plays a major role to find out the demand of crop
          production for maximizing the yield. For that in this paper we propose
          a prediction method for the major crops using Decision tree regressor.
          In this project the seed data crops are collected here ,with the
          appropriate parameter like crop variety, Average temperature , Average
          rainfall, and pesticide tones per hectare which helps the crops to
          achieve a successful growth. <br />
          <br />
          In addition we detect the plant diseases detection. Diseases in
          plants/crops are the serious causes in degrading the production
          quantity and quality, which results in economy losses. Thus,
          identification of the diseases in plants is very important. Plant
          disease symptoms are evident in various parts of plants. However,
          plant leaves are most commonly used to detect the infection. ANN
          techniques are utilized by several researchers to automate the
          detection of plant diseases using leaf images. Also we create a
          question and answer platform for formers .In addition the web page is
          being created. The users are encouraged to enter parameter like
          country, crop variety, Average rainfall, Average temperature and
          pesticides per tones of hectare in order to start the prediction
          process.
        </p>
      </div>
    </div>
  </div>
</header>
{% endblock %}
