<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FarmixSmart</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <script
      src="https://kit.fontawesome.com/67d5ee91a4.js"
      crossorigin="anonymous"
    ></script>
    <script>
      function openNav() {
        document.getElementById("sidebar").style.width = "250px";
        document.getElementById("main").style.marginleft = "250px";
      }

      function closeNav() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("main").style.marginleft = "0";
      }
    </script>
  </head>
  <body>
    <button class="openbtn" onclick="openNav()">☰</button>
    <div
      class="sidebar"
      id="sidebar"
      style="position: absolute; z-index: 11111111"
    >
      <header>MENU</header>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <ul>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'dashboard' %}"
            ><i class="fas fa-qrcode"></i>Dashboard</a
          >
        </li>
        <li>
          <a href="{% url 'yieldPrediction' %}"
            ><i class="fas fa-qrcode"></i>Yield Prediction</a
          >
        </li>
        <li>
          <a href="{% url 'diseaseDetection' %}"
            ><i class="fas fa-qrcode"></i>Disease Detection</a
          >
        </li>
        <li>
          <a href="{% url 'logout' %}"
            ><i class="fas fa-sign-out-alt"></i>logout</a
          >
        </li>
        {% else %}
        <li>
          <a href="/"><i class="fas fa-qrcode"></i>Home</a>
        </li>
        <li>
          <a href="{% url 'login' %}"
            ><i class="fas fa-sign-in-alt"></i>Login</a
          >
        </li>
        <li>
          <a href="{% url 'registration' %}"
            ><i class="fas fa-sign-in-alt"></i>Register</a
          >
        </li>
        {% endif %}

        <li>
          <a href="#section5"><i class="fas fa-address-book"></i>Contact</a>
        </li>
      </ul>
    </div>
    <div class="content" id="content">{% block content %} {% endblock %}</div>
  </body>
</html>
